<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charles.begin">

    <application>
        <activity android:name="com.charles.begin.page.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.charles.begin.page.guide.GuideActivity" />
    </application>
</manifest>
