<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charles.main">

    <application>
        <activity android:name=".page.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.guide.GuideActivity" />
    </application>
</manifest>
